<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>861550528433-u76g1b4hlqv9bd6ee6q4oj0urf7u3k64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861550528433-u76g1b4hlqv9bd6ee6q4oj0urf7u3k64</string>
	<key>API_KEY</key>
	<string>AIzaSyAthOeJepKtHoQBSe43m2vvqhg46qGlO-I</string>
	<key>GCM_SENDER_ID</key>
	<string>861550528433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSC-436.Shoppr</string>
	<key>PROJECT_ID</key>
	<string>shoppr-871b5</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppr-871b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861550528433:ios:a42f56d42d417e9b</string>
	<key>DATABASE_URL</key>
	<string>https://shoppr-871b5.firebaseio.com</string>
</dict>
</plist>